@using CodingEvents.Models
@model List<Event>

<h1>Coding Events</h1>
<p>
    <a asp-controller="events" asp-action="add">Add Event</a>
</p>
<p>
    <a asp-controller="events" asp-action="delete">Delete Event</a>
</p>
@if (Model.Count == 0)
{
    <h2>No Events Yet!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Descripton</th>
                <th>Contact Email</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var codingEvent in Model)
            {
                <tr>
                    <td>@codingEvent.Id</td>
                    <td>@codingEvent.Name</td>
                    <td>@codingEvent.Description</td>
                    <td>@codingEvent.ContactEmail</td>
                    <td>@codingEvent.Category.Name</td>
                </tr>
            }
        </tbody>
    </table>
}